<container>
    <div class="row" style="padding:10px;">
        <div class="col-xs-12">
            <h2 style="text-align:center;">Help keep Project-Rain.co.uk running</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8" style="padding-top:15px;">
            <h3>Cryptocurrency addresses/accounts</h3>
            <b>BOINC Team</b>: <a href="http://boincstats.com/en/stats/-5/team/detail/118094994/overview">Gridcoin</a><br/>
            <b>Gridcoin</b>: S4LzoZWFERYbEpeS77Zq26N7Yx5sCWaDRC<br/>
            <b>STEEM</b>: <a href="https://steemit.com/@cm-steem">@cm-steem</a><br/>
            <b>Bitshares</b>: cryptocryptocrypto123<br/>
            <b>Ethereum (ETH)</b>: 0x8102f0B48154C163d1a44F2d67ee558AE6e50E16<br/>
            <b>Ethereum Classic (ETC)</b>: 0x66DbBA1380DaBf0DB3E20B625f15E118c922779d<br/>
            <b>NXT</b>: NXT-NTUN-YFGP-9GR3-6FZKL<br/>
            <!--<b>Ardor</b>: ???<br/>-->
            <b>Waves</b>: 1W3PNGU4apFprCLgES83FZZRMcL87iW2o26Vm<br/>
            <!--<b>Hyperledger-Fabric</b>: ???<br/>-->
            <!--<b>Hyperledger-Sawtooth-Lake</b>: ???<br/>-->
            <b>OmniLayer</b>: 1BjaTRWYvrdywx1aUwQuhNZCs2iDpFKryo<br/>
            <b>CounterParty</b>: 1DXgtDYCYaqGFTFZPRkAG7zpuJk2ZpVJVm<br/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4" style="padding-top:15px;">
            <h3>Refferal links</h3>
            <a href="https://www.digitalocean.com/?refcode=b86d3e55f889">
                <img src="/img/DigitalOcean.png" width="300px;" alt="DigitalOcean Logo">
            </a>
            </br>
            <a href="http://nordvpn.com/?ref=135613bd">
                <img src="/img/NORD.png" width="250px;" alt="NORD Logo" style="padding-top:10px;">
            </a>
        </div>
    </div>
</container>
