<container>
    <div class="row" style="padding:10px;">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body"  style="text-align:center;">

                <div class="col-xs-6">
                    <img src="./img/boinc-transparent.png" alt="BOINC logo" />
                </div>
                <div class="col-xs-6">
                    <img src="./img/project-rain.png" alt="Project Rain" />
                </div>
                <div class="col-xs-12">
                    <hr />
                    <a href="/crash-course.html">
                        <h2>Crash course on BOINC & Project Rain</h2>
                    </a>
                </div>

              </div>
            </div>

        </div>
        <!-- -->
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body"  style="text-align:center;">

                <div class="col-xs-12">
                    <h4>
                        Take me straight to the 'Project Rain' BOINC project!
                    </h4>
                    <a href="https://www.project-rain.co.uk/rain/">
                         <button type="button" class="btn btn-default">Continue to Project Rain BOINC project</button>
                    </a>
                </div>

              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body"  style="text-align:center;">

                <div class="col-xs-12">
                    <h4>
                        How do I 'Project Rain' my crypto asset onto BOINC users?
                    </h4>
                    <a href="/rain-tutorial.html">
                         <button type="button" class="btn btn-default">Project Rain Tutorial</button>
                    </a>
                </div>

              </div>
            </div>

        </div>
    </div>

    <div class="row" stlye="padding:10px;">
        <hr />
        <div class="col-xs-12" style="text-align:center;">
            <h2>Supported cryptocurrencies</h2>
        </div>
    </div>

    <div class="row" stlye="padding-top:10px;">

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://gridcoin.us">
                <img src="./img/crypto/gridcoin.png" alt="Gridcoin" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://steemit.com">
                <img src="./img/crypto/steem.png" alt="Steem" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://Bitshares.org">
                <img src="./img/crypto/bitshares.png" alt="Bitshares" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://www.peerplays.com/">
                <img src="./img/crypto/peerplays.png" alt="Peerplays" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://storj.io/">
                <img src="./img/crypto/storj.png" alt="Storj" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://nem.io/">
                <img src="./img/crypto/nem.png" alt="NEM" style="width:128px; height:128px;" />
            </a>
        </div>

    </div>

    <div class="row" stlye="padding-top:10px;">

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://www.ibm.com/blockchain/bluemix.html">
                <img src="./img/crypto/IBM_BlueMix.png" alt="IBM Bluemix Blockchain" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://coloredcoins.org/">
                <img src="./img/crypto/coloredcoins.png" alt="ColoredCoins" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://www.antshares.org/">
                <img src="./img/crypto/antshares.png" alt="Antshares" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://lisk.io/">
                <img src="./img/crypto/lisk.png" alt="Lisk" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://decent.ch/">
                <img src="./img/crypto/decent.png" alt="Decent" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://www.synereo.com/">
                <img src="./img/crypto/synereo.png" alt="Synereo" style="width:128px; height:128px;" />
            </a>
        </div>

    </div>

    <div class="row" stlye="padding:10px;">    

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://lbry.io/">
                <img src="./img/crypto/lbry.png" alt="LBRY" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://wings.ai/">
                <img src="./img/crypto/wings.png" alt="Wings" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://www.hongcoin.org/">
                <img src="./img/crypto/hong.png" alt="Hong" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://boardroom.to/">
                <img src="./img/crypto/boardroom.png" alt="BoardRoom" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://www.ethereum.org/">
                <img src="./img/crypto/ethereum.png" alt="Ethereum" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://ethereumclassic.github.io/">
                <img src="./img/crypto/ethereum_classic.png" alt="Ethereum Classic" style="width:128px; height:128px;" />
            </a>
        </div>

    </div>

    <div class="row" stlye="padding-top:10px;">

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://www.expanse.tech/">
                <img src="./img/crypto/expanse.png" alt="Expanse" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://golemproject.net/">
                <img src="./img/crypto/golem.png" alt="Golem" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://nxt.org/">
                <img src="./img/crypto/nxt.png" alt="NXT" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://ardorplatform.org/">
                <img src="./img/crypto/ardor.png" alt="Ardor" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://hyperledger.org/">
                <img src="./img/crypto/hyperledger.png" alt="Hyperledger" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="https://wavesplatform.com/">
                <img src="./img/crypto/waves.png" alt="Waves" style="width:128px; height:128px;" />
            </a>
        </div>

    </div>

    <div class="row" stlye="padding:10px;">

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://peershares.net/">
                <img src="./img/crypto/peershares.png" alt="Peershares" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://www.omnilayer.org/">
                <img src="./img/crypto/omni.png" alt="Omnilayer" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://counterparty.io/">
                <img src="./img/crypto/counterparty.png" alt="CounterParty" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://stratisplatform.com/">
                <img src="./img/crypto/stratis.png" alt="Stratis" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://borgdao.org/">
                <img src="./img/crypto/borg.png" alt="BORG" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-2" style="text-align:center;">
            <a href="http://ico-en.viewfin.com/index-en.html">
                <img src="./img/crypto/metaverse.png" alt="Metaverse" style="width:128px; height:128px;" />
            </a>
        </div>

    </div>

    <div class="row" stlye="padding:10px;">

        <div class="col-xs-hidden col-sm-3" style="text-align:center;">
            <a href="http://cosmos.network/">
                <img src="./img/crypto/cosmos.png" alt="Cosmos" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-3" style="text-align:center;">
            <a href="http://heatledger.com/">
                <img src="./img/crypto/heat_ledger.png" alt="Heat Ledger" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-3" style="text-align:center;">
            <a href="http://akasha.world/">
                <img src="./img/crypto/akasha.png" alt="Akasha" style="width:128px; height:128px;" />
            </a>
        </div>

        <div class="col-xs-hidden col-sm-3" style="text-align:center;">
            <a href="https://z.cash/">
                <img src="./img/crypto/zcash.png" alt="Zcash" style="width:128px; height:128px;" />
            </a>
        </div>

    </div>
</container>