<container>
    <div class="row" style="padding:10px;">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body"  style="text-align:center;">

                <div class="col-xs-6">
                    <img src="./img/boinc-transparent.png" alt="BOINC logo" />
                </div>
                <div class="col-xs-6">
                    <img src="./img/project-rain.png" alt="Project Rain" />
                </div>
                <div class="col-xs-12">
                    <hr />
                    <a href="/crash-course.html">
                        <h3>Crash course on BOINC & Project Rain</h3>
                    </a>
                </div>

              </div>
            </div>

        </div>
        <!-- -->
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body"  style="text-align:center;">

                <div class="col-xs-12">
                    <h4>
                        Take me straight to the 'Project Rain' BOINC project!
                    </h4>
                    <a href="https://www.project-rain.co.uk/rain/">
                         <button type="button" class="btn btn-default">Continue to Project Rain BOINC project</button>
                    </a>
                </div>

              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body"  style="text-align:center;">

                <div class="col-xs-12">
                    <h4>
                        How do I 'Project Rain' my crypto asset onto BOINC users?
                    </h4>
                    <a href="/rain-tutorial.html">
                         <button type="button" class="btn btn-default">Project Rain Tutorial</button>
                    </a>
                </div>

              </div>
            </div>

        </div>
    </div>

    <div class="row" stlye="padding:10px;">
        <div class="col-xs-12" style="text-align:center;">
                <h3>Supported cryptocurrencies</h3>
        </div>
    </div>

    <div class="row" stlye="padding-top:10px;">

        <div class="col-xs-1">
            <a href="https://gridcoin.us">Gridcoin</a>
        </div>

        <div class="col-xs-1">
            <a href="https://steemit.com">Steem</a>
        </div>

        <div class="col-xs-1">
            <a href="https://Bitshares.org">Bitshares</a>
        </div>

        <div class="col-xs-1">
            <a href="http://www.peerplays.com/">Peerplays</a>
        </div>

        <div class="col-xs-1">
            <a href="https://storj.io/">Storj</a>
        </div>

        <div class="col-xs-1">
            <a href="http://nem.io/">NEM</a>
        </div>

        <div class="col-xs-1">
            <a href="https://www.ibm.com/blockchain/bluemix.html">IBM Bluemix Blockchain</a>
        </div>

        <div class="col-xs-1">
            <a href="http://coloredcoins.org/">ColoredCoins</a>
        </div>

        <div class="col-xs-1">
            <a href="https://www.antshares.org/">Antshares</a>
        </div>

        <div class="col-xs-1">
            <a href="https://lisk.io/">Lisk</a>
        </div>

        <div class="col-xs-1">
            <a href="http://decent.ch/">Decent</a>
        </div>

        <div class="col-xs-1">
            <a href="https://www.synereo.com/">Synereo</a>
        </div>

    </div>

    <div class="row" stlye="padding:10px;">    

        <div class="col-xs-1">
            <a href="https://lbry.io/">LBRY</a>
        </div>

        <div class="col-xs-1">
            <a href="https://wings.ai/">Wings</a>
        </div>

        <div class="col-xs-1">
            <a href="http://www.hongcoin.org/">Hong</a>
        </div>

        <div class="col-xs-1">
            <a href="http://boardroom.to/">BoardRoom</a>
        </div>

        <div class="col-xs-1">
            <a href="https://www.ethereum.org/">Ethereum</a>
        </div>

        <div class="col-xs-1">
            <a href="https://ethereumclassic.github.io/">Ethereum Classic</a>
        </div>

        <div class="col-xs-1">
            <a href="http://www.expanse.tech/">Expanse</a>
        </div>

        <div class="col-xs-1">
            <a href="http://golemproject.net/">Golem</a>
        </div>

        <div class="col-xs-1">
            <a href="https://nxt.org/">NXT</a>
        </div>

        <div class="col-xs-1">
            <a href="https://ardorplatform.org/">Ardor</a>
        </div>

        <div class="col-xs-1">
            <a href="https://hyperledger.org/">Hyperledger</a>
        </div>

        <div class="col-xs-1">
            <a href="https://wavesplatform.com/">Waves</a>
        </div>

    </div>

    <div class="row" stlye="padding:10px;">

        <div class="col-xs-1">
            <a href="http://peershares.net/">Peershares</a>
        </div>

        <div class="col-xs-1">
            <a href="http://www.omnilayer.org/">Omnilayer</a>
        </div>

        <div class="col-xs-1">
            <a href="http://counterparty.io/">CounterParty</a>
        </div>

        <div class="col-xs-1">
            <a href="http://stratisplatform.com/">Stratis</a>
        </div>

        <div class="col-xs-1">
            <a href="http://borgdao.org/">BORG</a>
        </div>

        <div class="col-xs-1">
            <a href="http://ico-en.viewfin.com/index-en.html">Metaverse</a>
        </div>

        <div class="col-xs-1">
            <a href="http://cosmos.network/">Cosmos</a>
        </div>

        <div class="col-xs-1">
            <a href="http://stratisplatform.com/">Stratis</a>
        </div>

        <div class="col-xs-1">
            <a href="https://z.cash/">Zcash</a>
        </div>

    </div>
</container>
