<container>
    <div class="row" style="padding:10px;">
        <div class="col-xs-12 col-sm-6">
            <img src="./img/boinc-transparent.png" alt="BOINC logo" />
            <h3>What is BOINC?</h3>
            <p>
                BOINC</a> (<a href="http://www.berkeley.edu/">Berkeley</a> Open Infrastructure for Network Computing) is an open-source volunteer oriented computing grid that combines the processing power of all individual users for the purposes of scientific research.
            </p>
            <p>
                 Berkeley Open Infrastructure for Network Computing (<a href="https://boinc.berkeley.edu/">BOINC</a>) is an open-source middleware system which supports volunteer and grid computing. Originally developed to support the <a href="https://www.setiathome.ssl.berkeley.edu">SETI@home</a> project, it became generalized as a platform for other distributed applications in areas as diverse as mathematics, linguistics, medicine, molecular biology, climatology, environmental science, and astrophysics, among others. <a href="https://boinc.berkeley.edu/">BOINC</a> aims to enable researchers to tap into the enormous processing resources of multiple personal computers around the world.
            </p>
            <h4>Can I create an BOINC project?</h4>
            <p>
                Anyone can create a BOINC project! If you've got an idea for a <a href="https://en.wikipedia.org/wiki/Distributed_computing">distributed computing</a> project, head on over to the <a href="https://steemit.com/gridcoin/@cm-steem/brainstorming-new-boinc-projects-anyone-can-create-a-project-and-reward-their-users-with-gridcoin">BOINC project brainstorming thread</a> on <a href="https://steemit.com">STEEM</a> to get an idea of possible BOINC projects.
            </p>

            <h4>What's this talk of a whitelist?</h4>
            <p>
                The BOINC project whitelist is a voted upon list of projects rewarded within the <a href="https://www.gridcoin.us">Gridcoin network</a>. We don't reward all projects because some projects are inactive/dead or are insecure & a risk to our users.
            </p>
            <p>
                If you have concerns regarding the whitelist or wish to have your project whitelisted then <a href="https://cryptocointalk.com/topic/29841-discussion-boinc-whitelist-monitoring/">speak up in the Gridcoin whitelist thread</a>.
            </p>
            <p>
                Due to the nature of this BOINC project, there's nothing stopping you from ignoring the whitelist and distributing your crypto assets against non-whitelisted projects but you do so at your own risk (and potentially at the risk of your own crypto community).
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    <img src="./img/project-rain.png" alt="Project Rain" />
                </div>
                <div class="col-xs-6" style="padding-top:55px;">
                    <a href="https://www.project-rain.co.uk/rain/">
                         <button type="button" class="btn btn-default">Continue to Project Rain BOINC project</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>What is Project Rain?</h3>
                    <p>
                        'Project Rain' is the practice of distributing crypto assets to BOINC users based on their verified BOINC computation; it was initially devised within the <a href="https://www.gridcoin.us">Gridcoin</a> network and has been expanded to multiple cryptocurrencies and all BOINC teams through this BOINC project.
                    </p>
                    <p>
                        Through this BOINC project, you will be able to match a user's BOINC <a href="http://boincfaq.mundayweb.com/index.php?view=192">CPID</a> to their multiple crypto asset addresses/accounts to which you can distribute your asset against.
                    </p>
                    <p>
                        Think of Project Rain as a new share-dropping vector that doesn't require end-users handling wallet private keys nor providing proof of IRL identity.
                    </p>
                    <p>
                        What is exciting about project rain is that there are currently over <b>500,000 active</b> BOINC users and <b>4 million total</b> registered BOINC users to whom you could potentially distribute your choice of asset.
                    </p>
                    <h4>
                        What cryptocurrencies are currently supported?
                    </h4>
                    <p>
                        <a href="https://www.gridcoin.us">Gridcoin</a>, <a href="https://www.bitshares.org">Bitshares</a>, <a href="https://steemit.com/">STEEM</a>, <a href="https://www.ethereum.org/">Ethereum (ETH)</a>, <a href="https://ethereumclassic.github.io/">Ethereum Classic (ETC)</a>, <a href="https://nxt.org/">NXT</a>, <a href="https://ardorplatform.org/">Ardor</a>, <a href="https://www.hyperledger.org/">Hyperledger</a>, <a href="https://wavesplatform.com/">Waves</a>, <a href="http://www.omnilayer.org">Omnilayer</a> and <a href="https://counterparty.io">Counterparty</a>.
                    </p>
                    <h4>
                        Is there a mandatory team requirement?
                    </h4>
                    <p>
                        There is no mandatory team requirement for joining the website. Assets may be distributed by individuals to specific teams with full freedom of choice and no site interference.
                    </p>
                    <h4>
                        Who decides upon asset distribution details?
                    </h4>
                    <p>
                        The project wishing to 'rain' an asset is fully responsible for picking the projects and/or teams to target as well as the desired 'rain weight' for each. The 'Project-Rain' BOINC project admin has no input on who/what gets 'rained' upon; 'project rain' targets and asset platforms are entirely the initiators choices.
                    </p>
                    <h4>
                        Is a fee charged for this service?
                    </h4>
                    <p>
                        No fees are charged by the Project-Rain website (please consider donating). You'll be likely to pay a large fee to distribute your asset on your cryptocurrency platform of choice to equate with the scale of the Project Rain distribution.
                    </p>
                    <h4>
                        How can I 'Project Rain' crypto assets?
                    </h4>
                    <a href="/rain-tutorial.html">
                         <button type="button" class="btn btn-default">Project Rain Tutorial</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:10px;">
        <div class="col-xs-12">
            <hr>
            <h3 style="text-align:center;">Help keep Project-Rain.co.uk running</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5" style="padding-top:15px;">
            <h4>Cryptocurrency addresses/accounts</h4>
            <b>BOINC Team</b>: <a href="http://boincstats.com/en/stats/-5/team/detail/118094994/overview">Gridcoin</a><br/>
            <b>Gridcoin</b>: S4LzoZWFERYbEpeS77Zq26N7Yx5sCWaDRC<br/>
            <b>STEEM</b>: <a href="https://steemit.com/@cm-steem">@cm-steem</a><br/>
            <b>Bitshares</b>: cryptocryptocrypto123<br/>
            <b>Ethereum (ETH)</b>: 0x8102f0B48154C163d1a44F2d67ee558AE6e50E16<br/>
            <b>Ethereum Classic (ETC)</b>: 0x66DbBA1380DaBf0DB3E20B625f15E118c922779dbr/>
            <b>NXT</b>: NXT-NTUN-YFGP-9GR3-6FZKL<br/>
            <!--<b>Ardor</b>: ???<br/>-->
            <b>Waves</b>: 1W3PNGU4apFprCLgES83FZZRMcL87iW2o26Vm<br/>
            <!--<b>Hyperledger-Fabric</b>: ???<br/>-->
            <!--<b>Hyperledger-Sawtooth-Lake</b>: ???<br/>-->
            <b>OmniLayer</b>: 1BjaTRWYvrdywx1aUwQuhNZCs2iDpFKryobr/>
            <b>CounterParty</b>: 1DXgtDYCYaqGFTFZPRkAG7zpuJk2ZpVJVmbr/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3" style="padding-top:15px;">
            <h4>Refferal links</h4>
            <a href="https://www.digitalocean.com/?refcode=b86d3e55f889">
                <img src="/img/DigitalOcean.png" width="300px;" alt="DigitalOcean Logo">
            </a>
            </br>
            <a href="http://nordvpn.com/?ref=135613bd">
                <img src="/img/NORD.png" width="250px;" alt="NORD Logo" style="padding-top:10px;">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4" style="padding-top:15px;">
            <h4>Advertisements</h4>
        </div>
    </div>
</container>
